@charset "utf-8";
/* CSS Document */
html,body
{
	margin:0;
	padding:0;
	 font-family: 'Roboto Condensed';
}
div
{
	//border:solid;
}
body
{
	background-image:url("../images/banner0.jpg");
	background-attachment:fixed;
}
.large_outer {
    height: 528px;
    background: rgba(0, 0, 0, 0.78);
    margin: 40px auto;
    width: 70%;
    color: rgb(197, 196, 196);
    padding: 30px 20px;
    overflow: auto;
}
.large_outer table {
    width: 100%;
}
.table-bordered {
    border: 1px solid rgb(221, 221, 221);
}
.table-bordered {
    border: 1px solid rgb(221, 221, 221);
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
thead {
    display: table-header-group;
    vertical-align: middle;
}
tr {
    display: table-row;
    vertical-align: inherit;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 2px;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid rgb(221, 221, 221);
        
}
.table > thead > tr > th {
    vertical-align: bottom;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
th {
    text-align: left;
}
th {
    font-size: 18px;
    color: #fff;
}
.new_alignment {
    text-align: center;
    font-size: 20px;
    color: rgb(249, 103, 90);
}
td, th {
    padding: 0;
}
a
{
	text-decoration:none;
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../fonts/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-condensed-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-condensed-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('../fonts/roboto-condensed-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-condensed-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-condensed-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-condensed-v16-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

.main
{
	width:100%;
	min-height:730px;
}
.main1
{
	height:800px;
	background-image:url(../images/im1.png);
		
}
.main2
{	height:780px;
	background-image:url(../images/imagee4.jpg);
}
.header1
{
	
	background-color:rgba(225,13,13,0.7);
}
.header2
{
	height:70px;
	background-color:rgba(225,13,13,0.7);
}
.outer11
{
	width:500px;
	height:500px;

	margin:0 auto;
	margin-top:50px;
}
.outer31
{
	width:650px;
	height:150px;
	margin-top:70px;
	color:#fff;

}
.outer311
{
	width:520px;
	
}
.home_head
{
	width:auto;
	height:auto;
	margin:0 auto;
	text-align:center;
	background-color: rgb(237, 241, 240);
}
.outer
{
	width: 555px;
	height:500px;
	background-color:rgba(200,69,63,0.7);
	margin:0 auto;
	margin-top:30px;
}

.outer1
{
		height:300px;
		margin-top:150px;
}
.outer4
{
		width:650px;
		height:320px;
		margin-top:90px;
		
}
.outer5
{
		width:500px;
		height:320px;
		margin-top:90px;
		
}
.nav_tab
{
	height:50px;
	color:#fff;
	text-align:center;
	cursor:pointer;
	line-height: 46px;
	font-size:16px;
	position:relative;
	display: inline-block;
	padding: 0px 40px;
}
.navbar
{
	width:100%;
	height:50px;
	background-color:#000;
	
	text-align: center;
}
.outer2
{
		height:600px;
		
}
.tab
{
	width:200px;
	height:40px;
	border-radius:3px;
	background-color:#fff;
	color:#9b6331;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	float:left;
	margin-left:150px;
	margin-top:80px;
	font-family:Arial, Helvetica, sans-serif;
}
.tab1
{
	width:150px;
	height:30px;
	margin-top:30px;
	float:left;
	margin-left:60px;
	text-align:right;
	color:#fff;
	font-size:17px;
	line-height: 25px;
	font-family:Arial, Helvetica, sans-serif;
	
}
.t1
{
	text-align:center;
}
.tabb
{
	width:150px;
	height:30px;
	margin-top:40px;
	text-align:center;
	float:left;
	margin-left:10px;
	color:#f00;
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;

	
}

.firsthead
{
	width:250px;
	height:30px;
	margin-left:150px;
	line-height:50px;
	font-weight:bold;
	font-size:20px;
	color:#Fff;
	font-family:Arial, Helvetica, sans-serif;

		
}
.firsthead1
{
	width:300px;
	height:30px;
	margin-left:180px;
	line-height:60px;
	font-weight:bold;
	font-size:20px;
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;

		
}
.firsthead2
{
	width:300px;
	height:30px;
	margin-left:120px;
	line-height:60px;
	font-weight:bold;
	font-size:20px;
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;

		
}
.home_tab
{
	width:300px;
	height:50px;
	border-radius:3px;
	background-color:#fff;
	text-align:center;
	margin-top:60px;
	line-height:50px;
	float:left;
	margin-left:90px;
	color:#f00;
	font-family:Arial, Helvetica, sans-serif;
}
.home_head1
{
	width:150px;
	height:30px;
	margin-top:-10px;
	float:right;
	margin-right:10px;
	text-align:center;
	line-height:30px;
	font-size:18px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}
.button
{
	width:100px;
	height:34px;
	border-radius:5px;
	text-align:center;
	margin-top:10px;
	line-height:30px;
	float:left;
	margin-left:180px;
	cursor:pointer;
	font-size:17px;
	border:none;
	color:#f00;	
}
.button1
{
	width:100px;
	height:34px;
	border-radius:5px;
	text-align:center;
	margin-top:20px;
	line-height:30px;
	float:left;
	margin-left:35px;
	cursor:pointer;
	font-size:17px;
	border:none;
	color:#f00;	
}
.drop_down
{
	
	width: auto;
	height: auto;
	position: absolute;
	top:50px;
	left: 0;
	z-index: 9999;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display:none;
	overflow: hidden;
	min-width: 225px;
	background-color: #000;
	padding: 10px 0;
}
.drop_down ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}
.drop_down li
{
	padding: 0px 20px;
	margin: 0;
	list-style: none;
	text-align: left;
	
}
.nav_tab:hover .drop_down
{
	display:block;
}
.nav_tab:hover
{
	background: rgb(250, 94, 80);
}
.drop_down li:hover
{
	background: rgb(250, 94, 80);
	color:black;
}
.drop_down a
{
	color:#fff !important;
	
}
.sub_court
{
	width:100%;
	height:auto;
	float:left;
	
}
.container_court
{
	width: 50%;
	height: auto;
	margin: auto;
    margin-top: auto;
	background: rgba(112, 107, 107, 0.56);
	margin-top: 50px;
	border-radius: 20px;
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	border: solid rgba(255, 255, 255, 0.48);
	padding: 20px 20px;
}
.container_court h3
{
	text-align:center;
	color:white;
	padding-top: 1px;

	margin: 30px 0;
	font-size: 24px;
	text-transform: uppercase;
}
.field_court
{
	width:100%;
	height:auto;
	float:left;
	margin-bottom: 10px;
	padding-left: 10px;
}
.court_details
{
	width:27%;
	height:50px;
	float:left;
	
	color:#fff;
	font-weight:bold;
	line-height: 50px;
}
.court_details2
{
	width:70%;
	float:left;
}
.c_input
{
	width:100%;
	height:43px;
	background-color: rgba(9, 0, 0, 0.88);
	border: none;
	color: #fff;
	padding: 0 20px;
	box-sizing: border-box;
}
.t_input
{
	width:100%;
	
	background-color: rgba(9, 0, 0, 0.88);
	border: none;
	color: #fff;
	padding: 10px 20px;
	box-sizing: border-box;
	height: 100px;
}
.home_head img {
    width: 350px;
    height: auto;
}
.block_btn {
    padding: 5px 20px;
    background-color: rgb(247, 61, 61);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.approve_btn {
    padding: 5px 20px;
    background-color: rgb(18, 165, 103);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.c_btn
{
	width: 110px;
	height: 50px;
	background: rgb(249, 103, 90);
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	margin: auto;
	transition: 1s;
}
.c_btn:hover
{
	background: rgb(12, 0, 0);
	color:rgb(249, 103, 90);
	border:solid rgb(249, 103, 90);
	transition: 1s;
}
.active
{
	background: rgb(249, 103, 90);
}